{% extends 'base.html.twig' %}

{% block title %}Profile {{ id }} {% if idfound == true %}{{ profile.name }}{% endif %}{% endblock %}



{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('css/profile.css') }}" />
{% endblock %}

{% block body %}
	<div id="header">
		<img src="{{ asset('images/securitylogotype.png') }}" />
		<h1>Central Intelligence</h1>
		&nbsp;
	</div>
	<div id="content" class="{{ android_warning }}">
		{% if idfound == true %}
			<div id="basicfacts">
				<div id="pofilephotoes">
					<img src="{{ profile.profilephoto }}" />
				</div>
				<div id="pofilenames">
					<h1><img id="spinner" src="{{ asset('images/atom.gif') }}" />Profile {{ profile.name }}</h1>
					<ul>
						<li><b>Name:</b> {{ profile.name }}</li>
						<li><b>Nicks:</b> {{ profile.nick }}</li>
						<li><b>Id:</b> {{ profile.id }}</li>
						<li><b>Tag:</b> {{ profile.tag }}</li>
						<li><b>Birthdate:</b> {{ profile.birthdate|date('Y-m-d') }}</li>
						<li><b>Age:</b> {{ profile.age }}</li>
						<li><b>Sex:</b> {{ profile.sex }}</li>
						<li><b>Height:</b> {{ profile.height }}</li>
						<li><b>Weight:</b> {{ profile.mass }}</li>
						<li><b>Hair:</b> {{ profile.Hair }}</li>
						<li><b>Eyes:</b> {{ profile.Eyes }}</li>
						<li><b>Occupation:</b> {{ profile.occupation }}</li>
						<li><b>Android:</b> {{ profile.android }}</li>
					</ul>
				</div>
				<div id="summary">
					<h2>Summary</h2>
					<p>{{ profile.summary }}</p>
				</div>
			</div>
			<div id="crime">
				<div id="crimehistory">
					<h2>Criminal History</h2>
					<ul>
						<li>2041-03-03 Shopliftin</li>
						<li>2041-03-03 Drunk and disorderly</li>
					</ul>
				</div>
				<div id="fieldmeasure">
					<img src="{{ asset('images/body.gif') }}" />
				</div>
			</div>
			<div id="latestpurchases">
				<h2>Latest Purchases</h2>
				<ul>
					<li>2048-05-03 23:22 -30 Drink</li>
					<li>2048-05-03 23:22 -50 Noodles</li>
				</ul>
			</div>
			<div id="lastseen">
				<h2>Last Seen</h2>
				<ul>
					<li>2048-05-03 23:22 Noodle bar</li>
					<li>2048-05-03 18:37 Club Speciale</li>
				</ul>
			</div>
			<div style="clear: both"></div>
		{% else %}
			<div id="basicfacts">
				<h1>Id {{ id }} not found</h1>
			</div>
		{% endif %}
	</div>
{% endblock %}
